/* estilos predefinidos de boopstrap */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 20%;
  height: 3rem;
  background-color: #ffffff (0, 0, 0, 0.1);
  border: solid #ffffff (0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em #ffffff(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em #ffffff (0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #ffffff(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 (0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.fontHeader {
  width: 70%;
  color: #1a12b0;
  padding-left: 78px;
  font-size: 30px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 6px;
}

.div1 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  background-color: #d1e3f8;
  padding-top: 20px;
}

.div2 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  background:#ffffff; 
  color:#090466; /* Azul oscuro para contraste */
  text-align: center;
  padding: 50px 30px;
  border-radius: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.mensaje {
  font-size: 4em; /* Tamaño extra grande */
  font-weight: bold;
  margin-bottom: 30px;
  color: #0088cc; /* Azul vibrante */
  text-shadow: 4px 4px 20px rgba(131, 214, 255, 0.6);
}

.texto1 {
  font: size 30px; /* Tamaño más grande */}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 5;
  background: linear-gradient(135deg,  #090466, #d1e3f8);
    color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 5;
  background: linear-gradient(135deg, #d1e3f8,  #090466);
  color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-row-start: 10;
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 10;
}

.div7 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-row-start: 13;
  background-color:#090466;
  padding-left: 1%;
}

.titulo {
  color: #ffffff;
  font-size: 30px;
  padding-left: 0%;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
 .texto2 {
  color: #ffffff;
  font-size: 20px;
  padding-left: 0%;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;}

.consumo {
  color: #ffffff;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.potencia {
  color: #ffffff;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
} 

.horas {
  color: #ffffff;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.botonform {
  background-color: #ffffff;
  color:#090466;
  height: 42px;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 8px;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #090466; /* Opcional: para mejor visibilidad */
  cursor: pointer; /* Mejora la experiencia del usuario */
}

.botonform:hover {
  background-color:#d1e3f8;
  color: white;}

.resultado{
  color: #ffffff;
  font-size: 20px;
  padding-left: 0%;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}


.carousel-inner {
  padding-left: 20px;
}

.carousel-slide {
  width: 50%;
}

.mensaje {
  color: #1a12b0;
  font-size: 50px;
  padding-left: 0%;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.texto1 {
  color: #1a12b0;
  font-size: 20px;
  padding-left: 0%;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.boton{
  padding-left: 5%;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
  border-style: none;
  background-color: #ffffff;
  
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  background-color: rgb(138 138 138 / 16%);
  border: 0;
  color: #090466;
  transition: color .15sease-in-out, background-color .15sease-in-out, border-color .15sease-in-out;}


  .activeButton{
    background-color: #1a12b0;
    color: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  
  .titulo-info {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 20px;
  }
  
  .texto-info {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 20px;
  }
  
  .lista-info {
    list-style: none;
    padding: 0;
  }
  
  .lista-info li {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .lista-info i {
    font-size: 1.5em;
    color:#ffffff;
  }
  
 
  
